<header class="header header--primary js-header" #headerRoot>
  <app-brand></app-brand>

  <app-toggle
    #toggleBtn
    [isOpen]="isOpen()"
    (onClick)="toggleMenu($event)">
  </app-toggle>

  <app-navigation type="horizontal" ariaLabel="Главное меню"></app-navigation>

  <div #drawer class="header__drawer" [hidden]="isHidden()" [class.header__drawer--open]="isOpen()">
    <app-navigation
      type="drawer"
      ariaLabel="Мобильное меню"
      [class.navigation--open]="isOpen()">
    </app-navigation>
  </div>
</header>
