<ul class="navigation__list">
  <li class="navigation__item"><a class="navigation__link" routerLink="/projects" routerLinkActive="navigation__link--current">Projects</a></li>
  <li class="navigation__item"><a class="navigation__link" routerLink="/lab" routerLinkActive="navigation__link--current">Lab</a></li>
  <li class="navigation__item"><a class="navigation__link" routerLink="/about" routerLinkActive="navigation__link--current">About</a></li>
  <li class="navigation__item"><a class="navigation__link" routerLink="/contact" routerLinkActive="navigation__link--current">Contact</a></li>
</ul>
