<nav class="breadcrumbs" aria-label="Навигация по сайту">
  <ol class="breadcrumbs__list">
    @for (item of items; track $index; let last = $last) {
      <li
        class="breadcrumbs__item"
        [class.breadcrumbs__item--current]="last"
        [attr.aria-current]="last ? 'page' : null">
        @if (item.url && !last) {
          <a class="breadcrumbs__link" [routerLink]="item.url">{{ item.label }}</a>
        } @else {
          {{ item.label }}
        }
      </li>
    }
  </ol>
</nav>
